@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,400;0,900;1,800&display=swap');

/*------------------------------------*/
/*         Custom Properties          */
/*------------------------------------*/

:root {

  /* Colors */

  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* Fonts */
  --fs-900: clamp(5rem, 10vw + 1rem, 9.375rem);
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font families */

  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;


  /* Spreed */

  --typewriterSpeed: 3s;
}

@media (min-width:35em) {

  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width:45em) {

  :root {
    /* Fonts */

    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;

  }

}

/*------------------------------------*/
/*         Reset                      */
/*------------------------------------*/


/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}



/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;

}



/* Set Up The Body */

body {

  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  min-height: 100vh;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  background-image: url('https://i.imgur.com/UZ4VLZj.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* border: 2px solid red; */
}

/* .mainNext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:10px solid white;
} */

.container {
  border: none;
  outline: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65vw;
  background: #111;
  position: relative;
  z-index: 0;
  flex-wrap: wrap;
  opacity: 0.8;
}

.container2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid orange; */
}


.textaria{
  padding: .5em;
  width: 60%;
  margin: 0 20% 20% 17.5%;
  /* border: 5px solid brown; */
}

.container:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  right: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}



.container:before {
  opacity: 1;
}

.container:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.containerBoxOne {
  margin: auto;
  margin: 1%;
  text-align: center;
  padding: 5%;
}

.containerBoxTwo {

  margin: 1%;
  text-align: center;
  padding: 4%;
}

.inputFile {
  border: 2px solid rgb(201, 20, 251);
  padding: 1%;
  font-size: 1em;
  margin: 8% 0%;
  width: 100%;
}

.inputFile::-webkit-file-upload-button {
  background-image: linear-gradient(45deg, rgb(252, 37, 216), rgb(44, 51, 249));
  color: white;
  padding: 3% 6%;
  border: name;
  cursor: pointer;
}

.mainFile {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid gray; */
}
@media(max-width: 99em) {
  .textaria{
    margin: 0 20% 20% 12.5%;
    /* border: 5px solid blue; */
  }  
}

@media(max-width: 90em) {
  .textaria{
    margin: 0 20% 20% 10%;
    /* border: 5px solid rgb(17, 233, 20); */
  }  
}

@media(max-width:85em) {
  .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .container2 {
    display: flex;
    flex-direction: column-reverse;
  }

  .containerBoxOne {
    text-align: center;
    padding: 5%;
    width: max-content;

  }

  .containerBoxTwo {
    text-align: center;
    padding: 5%;
  }
}


@media(max-width:77em) {
  .container {
    display: flex;
    flex-direction: row-reverse;
  }
  .container2 {
    display: flex;
    flex-direction: column-reverse;
  }

}


@media(max-width:40em) {
  .containerBoxOne {
    padding: 0%;
  }

  .inputFile {
    width: 80%;
    font-size: .8em;
  }

  .inputFile::-webkit-file-upload-button {
    font-size: 0.8em;
  }
}

@media(max-width:26em) {

  .container{
    width: 100%;
    height: 100%;
  }
  .container2 {
    width: 100%;
    height: 100%;
  }

  .inputFile {
    width: 60%;
  }

  .inputFile::-webkit-file-upload-button {
    font-size: 0.5em;
  }
}

.boxHeader {
  text-align: center;
  place-content: center;
  display: grid;
  /* border: 2px solid orange; */
}

.textHeader {
  font-size: calc(20px + (35 - 20) * (100vw - 320px) / (1920 - 320));
  font-weight: 800;
  /* font-family: 'Poppins', sans-serif; */
  letter-spacing: 2px;
  position: relative;
}

.textHeader::before,
.textHeader::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.textHeader::before {
  background-color: #111111;
  animation: typewritter var(--typewriterSpeed) 1s steps(18) forwards;
}

.textHeader::after {
  width: 0.125em;
  background: hsl(var(--clr-white));
  animation: typewritter var(--typewriterSpeed) 1s steps(18) forwards,
    blink 750ms steps(18) infinite;
}

.textSubHeader {
  margin-bottom: 1%;
  font-size: calc(15px + (35 - 20) * (100vw - 320px) / (1920 - 320));
  font-weight: 600;
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 1s) forwards;
}

.paraText {
  font-size: calc(15px + (35 - 20) * (100vw - 320px) / (1920 - 320));
}

.walletHeader {
  margin: 2%;
  text-align: center;
}



@keyframes typewritter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}