@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,400;0,900;1,800&display=swap');

/*------------------------------------*/
/*         Custom Properties          */
/*------------------------------------*/

:root {

  /* Colors */

  --clr-neon: rgba(235, 97, 143, 1);
	--clr-bg: rgba(1, 1, 1, 1);
	--clr-white: rgba(255, 255, 255, 1);
  --bg-color:#191919;
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* Fonts */
  --fs-900: clamp(5rem, 10vw + 1rem, 9.375rem);
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font families */

  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;


  /* Spreed */

  --typewriterSpeed: 3s;
}

@media (min-width:35em) {

  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width:45em) {

  :root {
    /* Fonts */

    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;

  }

}

/*------------------------------------*/
/*         Reset                      */
/*------------------------------------*/


/* Box Sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
}



/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-weight: 400;

}



/* Set Up The Body */

body {

  font-family: 'Kdam Thmor Pro', sans-serif;
  font-size: var(--fs-400);
  color: hsl(var(--clr-white));
  min-height: 100vh;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  background-image: url('https://i.imgur.com/UZ4VLZj.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  /* border: 2px solid red; */
}

/* .mainNext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border:10px solid white;
} */

.container {
  border: none;
  outline: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65vw;
  background: #111;
  position: relative;
  z-index: 0;
  flex-wrap: wrap;
  opacity: 0.8;
}

.container2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid orange; */
}

.txtbox{
  padding: .2em;
  width: 65%;
  margin: 0 0 4% 17%;
  background: conic-gradient(#fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
  opacity: .9;
}

.textaria{
  margin-top: .1%;
  width: 100%;
  padding: 1%;
  background-color: black;
  opacity: 0.9;
  color: white;
  font-weight: 900;
}


.container:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  right: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(1px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}



.container:before {
  opacity: 1;
}

.container:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.containerBoxOne {
  margin: auto;
  margin: 1%;
  text-align: center;
  padding: 5%;
  /* border: 2px solid white; */
}

.pass {
  width: 100%;
  /* border: 2px solid black; */
  margin-bottom: 5%;
}
.password {
  width: 100%;
  height: 1.8em;
  background: transparent;
  border: transparent;
  text-align: left;
  color: rgb(250, 248, 248);
  font-weight: 500;
  text-align: center;
  font-size:  1.3rem;
}

.containerBoxTwo {

  margin: 1%;
  text-align: center;
  padding: 4%;
}

.inputFile {
  border: 2px solid rgb(201, 20, 251);
  padding: 1%;
  font-size: 1em;
  margin: 8% 0%;
  width: 100%;
}

.inputFile::-webkit-file-upload-button {
  background-image: linear-gradient(45deg, rgb(252, 37, 216), rgb(44, 51, 249));
  color: white;
  padding: 3% 6%;
  border: name;
  cursor: pointer;
}

.mainFile {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid gray; */
}

@media(max-width: 99em) {
  .textaria {
    margin: 0 20% 20% 12.5%;
    /* border: 5px solid blue; */
  }
}

@media(max-width: 90em) {
  .textaria {
    margin: 0 20% 20% 10%;
    /* border: 5px solid rgb(17, 233, 20); */
  }
}

@media(max-width:85em) {
  .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .container2 {
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid white;
  }

  .containerBoxOne {
   
    text-align: center;
    padding: 5%;
    width: max-content;

  }

  .containerBoxTwo {
    border: 2px solid rgb(198, 22, 22);
    text-align: center;
    padding: 5%;
  }
}


@media(max-width:77em) {
  .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .container2 {
    display: flex;
    flex-direction: column-reverse;
  }

}


@media(max-width:40em) {
  .containerBoxOne {
    padding: 0%;
  }

  .inputFile {
    width: 80%;
    font-size: .8em;
  }

  .inputFile::-webkit-file-upload-button {
    font-size: 0.8em;
  }
}

@media(max-width:26em) {

  .container {
    width: 100%;
    height: 100%;
  }

  .container2 {
    width: 100%;
    height: 100%;
  }

  .inputFile {
    width: 60%;
  }

  .inputFile::-webkit-file-upload-button {
    font-size: 0.5em;
  }
}

.boxHeader {
  text-align: center;
  place-content: center;
  display: grid;
  /* border: 2px solid orange; */
}

.textHeader {
  font-size: calc(20px + (35 - 20) * (100vw - 320px) / (1920 - 320));
  font-weight: 800;
  /* font-family: 'Poppins', sans-serif; */
  letter-spacing: 2px;
  position: relative;
}

.textHeader::before,
.textHeader::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.textHeader::before{
  background-color: #111111;
  animation: typewritter var(--typewriterSpeed) 1s steps(18) forwards;
}

.textHeader::after {
  width: 0.125em;
  background: hsl(var(--clr-white));
  animation: typewritter var(--typewriterSpeed) 1s steps(18) forwards,
    blink 750ms steps(18) infinite;
}

.textSubHeader {
  margin-bottom: 1%;
  font-size: calc(15px + (35 - 20) * (100vw - 320px) / (1920 - 320));
  font-weight: 600;
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeInUp 1s ease calc(var(--typewriterSpeed) + 1s) forwards;
}

.paraText {
  font-size: calc(15px + (35 - 20) * (100vw - 320px) / (1920 - 320));
}

.walletHeader {
  margin: 2%;
  text-align: center;
}

.glowOnHover{
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  position: relative;
  z-index: 0;
  border-radius: 0px;
  letter-spacing: 1px;
  font-size: 1.3rem;
  margin: 1% 0%;
  width:100%;
  height: 40px;
  margin-bottom: 5%;
  
}

.glowOnHover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -1.8px;
  left:-1.8px;
  background-size: 400%;
  z-index: -1;
  filter: blur(0.5px);
  width: calc(99.6% + 5px);
  height: calc(97% + 5px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 0px;
}

.glowOnHover:active {
  color: #000
}

.glowOnHover:active:after {
  background: transparent;
}

.glowOnHover:before {
  opacity: 1;
}

.glowOnHover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 0px;
}

.share{
  font-size: 3.5rem;
  background-image: linear-gradient(90deg, rgb(255, 45, 45),rgb(30, 30, 254));
  background-clip: text;
  color: transparent;
}

.paraText{
  margin: 3% 0 2% 0;
  color:white;
}

.shareUrl{
  margin-left: 18%;
  width: 50%;
  border:2px solid rgb(30, 30, 254);
}

.copyBox{
  display: flex;
  margin-top: 3%;
}

.verifybox{
  display: flex;
  justify-content: center;
  padding: 10%;
}

.buttonBtn {
  width: 100%;
  padding: 1.02em;
	color: #fff;
  background-color: black;
}

.btnbox{
  padding: .2em;
  width: 50%;
  margin: 0% 0 2% 16%;
  background: conic-gradient(#fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
  opacity: .9;
}

.emailBox{
  display: flex;
  padding: .2em;
  width: 50%;
  background: conic-gradient(#fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
  opacity: .9;
}

.emailField{
  width: 100%;
  padding: 1em;
	color: #fff;
  background-color: black;
}

.downloadBox{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.downloadHead{
  text-align: center;
  margin-top: 5%;
}

.rainbow-button {
  --primary-neon:rgba(231,131,243,.9);
  --light-neon:rgba(159,87,161,.7);
  --pulse-neon:rgba(159,87,161,.5);
  --bright-neon:rgba(159,87,161,1);
  --off-neon:#333;
  
  --neon-shadow:0 0 4px 2px var(--light-neon), 0 0 4px 2px var(--light-neon) inset;
  --neon-shadow-pulse:0 0 5px 3px var(--pulse-neon), 0 0 5px 3px var(--pulse-neon) inset;
  --neon-shadow-bright:0 0 8px 4px var(--bright-neon), 0 0 5px 2px var(--bright-neon) inset;
  --neon-shadow-text:0 0 0px var(--primary-neon);
  
  width:calc(10vw + 4px);
  height:calc(2.7vw + 4px);
  color:var(--primary-neon);
  text-shadow:var(--neon-shadow-text);
  border:3px solid var(--primary-neon);
  border-radius:5px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:1vw;
  font-weight:bold;
  box-shadow:var(--neon-shadow);
  animation:flicker 3s linear infinite;
}

.imgIcon{
  width: 18%;
  margin-bottom: 4%;
  margin-right: 5%;
}

.button {
	font-size: 1.3em;
  margin-top: 2%;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: var(--clr-neon);
	border: var(--clr-neon) 4px solid;
	padding: 0.25em 1em;
	border-radius: 0.25em;

	text-shadow: 0 0 0.1em rgba(255, 255, 255, 0.55), 0 0 0.5em currentColor;

	box-shadow: inset 0 0 0.3em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

	position: relative;
}

.button::before {
	pointer-events: none;
	content: "";
	position: absolute;
	background: var(--clr-neon);
	top: 120%;
	left: 0;
	width: 100%;
	height: 100%;

	transform: perspective(1.2em) rotateX(40deg) scale(1.5, 0.5);
	filter: blur(1.15em);
	opacity: 0.7;

	transition: transform 0.5s linear;
}

.button::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 4em 0.6em var(--clr-neon), 0 0 1em 0.2em var(--clr-white);
	opacity: 0;
	background: var(--clr-neon);
	z-index: -1;
	transition: opacity 0.5s linear;
}

.button:hover,
.button:focus {
	color: var(rgb(21, 0, 255));
	text-shadow: none;
}

.button:hover::before,
.button:focus::before {
	opacity: 1;
	transform: perspective(1em) rotateX(40deg) scale(1.5, 0.6);
	transition: transform 0.5s linear;
}

.button:hover::after,
.button:focus::after {
	opacity: 1;
}


@keyframes flicker {
  0% {
    box-shadow:var(--neon-shadow);
  }
  45% {
    box-shadow:var(--neon-shadow-pulse);
  }
  90% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
    color:var(--primary-neon);
    text-shadow:var(--neon-shadow-text);
  }
  90.01% {
    box-shadow:none;
    border-color:var(--off-neon);
    color:var(--off-neon);
    text-shadow:none;
  }
  94% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  94.01% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
  95% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
  95.01% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  95.5% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  95.51% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
  96% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
  96.01% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  96.5% {
    box-shadow:none;
    border-color:var(--off-neon);
  }
  96.51% {
    box-shadow:var(--neon-shadow-bright);
    border-color:var(--primary-neon);
  }
  100% {
    box-shadow:var(--neon-shadow);
    border-color:var(--primary-neon);
  }
}

@keyframes hue {
	to {
		filter: hue-rotate(1turn);
	}
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@keyframes typewritter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
